.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  .grid-cols-md-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .h-80 {
    height: 20rem;
  }
}

@media (min-width: 1024px) {
  .grid-cols-xl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .h-40 {
    height: 10rem;
  }

  .h-96 {
    height: 24rem;
  }
}

.rounded-2xl {
  border-radius: 1rem;
}

.bg-gray-400 {
  background-color: #cbd5e0;
}