@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #00a8b9
}

body {
  background-color: #fff;
  font-family: 'Montserrat', 'Cairo';
}

.swal2-title {
  color: #333 !important;
}

/* Change the confirm button color */
.swal2-confirm {
  background-color: var(--mainColor) !important;
  color: white;
}

::selection {
  background-color: #00a8b9;
  color: #fff;
}

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: dropShadowEffect 1s infinite;
}

@keyframes dropShadowEffect {
  0% {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  50% {
    filter: drop-shadow(0 0 4em #61dafbaa);
  }

  100% {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}