@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat' !important;
}

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: dropShadowEffect 1s infinite;
}


@keyframes dropShadowEffect {
  0% {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  50% {
    filter: drop-shadow(0 0 4em #61dafbaa);
  }

  100% {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}